*{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color:#654;
}
li{
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
}
.intro{
    padding-top: 5px;
}
#nav{
    background-color: #e2e2e2;
    padding-top:5px;
    height: 50px;
}
.body{
    margin-top: 10px;
}