*{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
li{
    display: inline;
    padding: 40px;
}
#nav{
    background-color: #efefef;
    margin-top: 10px;
    padding: 10px, 0px, 5px, 0px;
    height: 50px;
}