*{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    color:#00ADB5;
    background-color:#222831;
}
p{
    font-size: 18px;
}

.body{
    margin-top: 10px;
    font-size: 20;
}

li{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
    background: #393E46;
}

ul{
    background-color: #393E46;    
}

.intro{
    padding-top: 70px;
}

.furmulas
{
    padding-top: 70px;
}

a.introcolor{
    color:#EEEEEE;
    background-color: #393E46;
}

#nav{
    background-color: #393E46;
    padding: 10px;
    height: 50px;
    position:fixed;
    transition: top;
    width: 100%;
}

ul li a.introcolor:hover:not(.active){
    background-color:#4f5561;
    color:#e8f8ff;
    padding: 10px;
}

a.active{
    background-color:#00ADB5;
    color:#EEEEEE;
    padding: 10px;
}
